@{
  ViewData["Title"] = "Index";
}

<h1>Dúvidas frequentes</h1>

<style>
  a:hover {
    color: white;
    text-decoration: none
  }

  p {
    color: white;
  }

  h1 {
    color: white;
  }
</style>
<link rel="stylesheet" href="~/css/askquest.css">
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!--Colunas de duvidas-->


      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-1" role="button" aria-expanded="false"
        aria-controls="faq-1">QUAIS OS TIPOS DE CURSO QUE A PLAN B OFERECE?</a>

      <div class="collapse card" id="faq-1">
        <p>Cursos de Inglês.</p>

        <p>Curso regular – do básico ao avançado. 1 ano de duração.</p>

        <p>Curso Intensivo – 3 meses de duração.</p>

        <p>Curso Upper – renova-se mensalmente.</p>
      </div>

      <br>
      <!--Div de Duvidas-->


      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-2" role="button" aria-expanded="false"
        aria-controls="faq-2">QUANTO CUSTA O CURSO?</a>

      <div class="collapse card" id="faq-2">
        <p>R$ 120,00 mensal. </p>
      </div>

      <br>
      <!--Div de Duvidas-->


      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-3" role="button" aria-expanded="false"
        aria-controls="faq-3">QUAL A FORMA DE PAGAMENTO?</a>

      <div class="collapse card" id="faq-3">
        <p>Cartão de crédito ou débito. </p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-4" role="button" aria-expanded="false"
        aria-controls="faq-4">QUANTOS LIVROS TEREI QUE COMPRAR? QUAL VALOR DOS LIVROS?</a>

      <div class="collapse card" id="faq-4">
        <p>A Plan B usa 5 livros, no Curso Regular, criados pela Teacher Lais Mota.</p>

        <p>São eles:</p>

        <p>Basico 1 - R$ 10,00</p>

        <p>Básico 2 - R$ 10,00</p>

        <p>Intermediate level - R$ 10,00</p>

        <p>Advanced 1- R$ 10,00</p>

        <p>Advanced 2- R$ 10,00</p>

        <p>Não é necessária a compra de todos os livros de uma vez. Você pode comprar apenas o livro do seu nível!</p>

      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-5" role="button" aria-expanded="false"
        aria-controls="faq-5">QUANTAS VEZES POSSO FAZER O DOWNLOAD DO MEU LIVRO?</a>

      <div class="collapse card" id="faq-5">
        <p>Três vezes.</p>
        <p>Após a efetivação do pagamento do livro o download inicia automaticamente. Caso você perca o arquivo, o seu
          portal do aluno oferece uma segunda chance para baixá-lo sem custo extra.</p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-6" role="button" aria-expanded="false"
        aria-controls="faq-6">POSSO COMECAR O CURSO REGULAR NUM NIVEL DIFERENTE DO BASICO 1?</a>

      <div class="collapse card" id="faq-6">
        <p>Sim. Após realizar o teste de nivelamento você pode se matricular naquele nível que foi aprovado!</p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-7" role="button" aria-expanded="false"
        aria-controls="faq-7">QUANTAS VEZES POSSO FAZER O TESTE DE NIVELAMENTO?</a>

      <div class="collapse card" id="faq-7">
        <p>Quantas vezes quiser! Have fun! </p>
      </div>

      <br>
    </div>

    <div class="col-md-6">
      <!--Colunas de duvidas-->
      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-8" role="button" aria-expanded="false"
        aria-controls="faq-8">TODOS OS CURSOS OFERECEM CERTIFICADO?</a>

      <div class="collapse card" id="faq-8">
        <p>Sim. Ao término de cada curso (ou nível) você recebera via e-mail ou correios um certificado da Plan B.
        </p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-9" role="button" aria-expanded="false"
        aria-controls="faq-9">COMO FUNCIONAM AS AULAS?</a>

      <div class="collapse card" id="faq-9">
        <p>As aulas acontecem 1x por semana. Via chamada de vídeo através da plataforma “meet” do Google.</p>

        <p>O link para as aulas será liberado 10min antes da aula no seu portal do aluno e/ou no grupo da sua turma que
          será criado no whatsapp.</p>

        <p>A aula tem duração de 1h. Cada aula aborda um capítulo do livro! Você pratica a gramática, leitura,
          conversação e faz todos os exercícios junto com a teacher.</p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-10" role="button" aria-expanded="false"
        aria-controls="faq-10">COMO FUNCIONAM AS AULAS DE CONVERSACAO?</a>

      <div class="collapse card" id="faq-10">

        <p>As aulas de conversação acontecem semanalmente. Todos os alunos podem participar e as aulas de conversação
          estão inclusas na sua mensalidade.</p>

        <p>Podendo ser trabalhados; vídeos, textos, animação de slides, jogos, dinâmicas etc.</p>

        <p>emos 3 niveis de conversação: Basic: para alunos do basic ½</p> T

        <p>Intermediate: para alunos do basic 2 e intermediate</p>

        <p>Advanced: para alunos do advanced 1/2, Intensivo e Upper.</p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-11" role="button" aria-expanded="false"
        aria-controls="faq-11">COMO REMARCAR MINHA AULA?</a>

      <div class="collapse card" id="faq-11">
        <p>Você consegue remarcar aulas e fazer reposições no seu portal do aluno.</p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-12" role="button" aria-expanded="false"
        aria-controls="faq-12">COMO SABEREI QUEM SERA A MINHA TEACHER? POSSO ESCOLHER MINHA TEACHER?</a>

      <div class="collapse card" id="faq-12">
        <p>As turmas são distribuídas igualmente para as nossas 3 teachers, de acordo com a disponibilidade de cada uma.
          No seu portal do aluno você pode deixar uma mensagem especificando a teacher com quem gostaria de ter aulas, e
          vamos fazer o máximo para atender o seu pedido.</p>
      </div>

      <br>
      <!--Div de Duvidas-->

      <a id="my-div" class="faq" data-toggle="collapse" href="#faq-13" role="button" aria-expanded="false"
        aria-controls="faq-13">COMO CANCELAR/TRANCAR O CURSO?</a>

      <div class="collapse card" id="faq-13">
        <p>Você pode cancelar e ou trancar o curso a qualquer momento no seu portal do aluno. </p>
      </div>


      <br>
    </div>
  </div>
</div>
</div>
