
@{
    ViewData["Title"] = "Index";
}

<h1>Dúvidas frequentes</h1>

<style>

    p {
        color: white;
    }

    h1 {
        color: white;
    }
    .btn{
        background-color: #E78524;
    }
    .col-6{
        padding:15px;
    }
</style>

<div class="row">
    <div class="col-6">
  <button type="button" class="btn" data-toggle="collapse" data-target="#painel-1">1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</button>
  <div id="painel-1" class="collapse ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>

     <div class="col-6">
  <button type="button" class="btn" data-toggle="collapse" data-target="#painel-2">1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</button>
  <div id="painel-2" class="collapse ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>
  
</div>

<div class="row">
    <div class="col-6">
  <button type="button" class="btn" data-toggle="collapse" data-target="#painel-3">1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</button>
  <div id="painel-3" class="collapse ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>

     <div class="col-6">
  <button type="button" class="btn" data-toggle="collapse" data-target="#painel-4">1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</button>
  <div id="painel-4" class="collapse ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>
  
</div>


<div class="row">
    <div class="col-6">
  <button type="button" class="btn" data-toggle="collapse" data-target="#painel-5">1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</button>
  <div id="painel-5" class="collapse ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>

     <div class="col-6">
  <button type="button" class="btn" data-toggle="collapse" data-target="#painel-6">1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</button>
  <div id="painel-6" class="collapse ">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  </div>
  
</div>





