@{
  ViewData["Title"] = "Login";
}


<style>
  p {
    color: black;
  }

  h1 {
    color: black;
  }


 
</style>
<link rel="stylesheet" href="~/css/account.css">


@* <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> *@
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> *-->
      <br>
      <br>
    </div>

    <!-- Login Form -->
    <form autocomplete="on" action="">
      <h1>Sign In</h1>
      <p>Entre com a sua conta</p>
      <input type="email" id="login" class="fadeIn second" name="login" placeholder="E-mail">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Esqueci a senha</a>
    </div>

  </div>
</div>