@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-fluid imagebackground ">

    <div class="centerText"></div>
     <!-- <div class="text-right">
        <h2>Fundadora</h2>

        <img src="~/media/lais.jpg" />
        <p>
            Fundadora do Curso de Idiomas Plan B
        </p>
        <style>

            p {
                color: white;
            }

            h2 {
                color: white;
            }
        </style>
        <br />
        <img src="~/media/paty.jpg" width="240px" height="170px" />
        <p>
            Professora Patrícia 
        </p>
        
    </div>      -->
    
</div>
