@{

    ViewData["Title"] = "Index";

    void Books(string src)
    {
        <div class="book">
            <div class="back"><img width="100%" height="100%" src="@src" alt=""></div>
            <div class="page6">
                <div class="row">
                    <div class="col-1"></div>

                </div>
                <div class="w-100 row">
                    <div class="col-1"></div>
                    <div class="col">
                        <hr>
                        <hr>
                        <h5 class="text-center">Apostila Avançada 1</h5>
                        <hr>


                        <strong>
                            <p>1. sub titles 1</p>
                        </strong>

                        <p>Alguma coisa aa a a a a a a a a</p>

                        <strong>
                            <p>2. sub titles 1</p>
                        </strong>


                        <strong>
                            <p>3. sub titles 1</p>
                        </strong>


                        <strong>
                            <p>4. sub titles 1</p>
                        </strong>


                        <hr>

                    </div>
                    <div class="col-1"></div>

                </div>
                <div class="row">

                </div>
            </div>
            <div class="page5">
                <table style="height: 100px;">
                    <tbody>
                        <tr>
                            <td class="align-middle"><img class="w-100" style="transform: scaleX(-1)" src="media/logoPlanB.png"
                                alt="img" /></td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="page4">a4</div>
            <div class="page3">a3</div>
            <div class="page2">a2</div>
            <div class="page1">a1</div>
            <div class="front"><img width="100%" height="100%" src="@src" alt=""></div>
        </div>
    }
}


<style>
    p {
        color: black;
        line-height: .7;
        transform-style: preserve-3d;
        transform-origin: left center;
    }

    ol {
        line-height: .7;
    }

    h1 {
        color: black;
    }
</style>
<link rel="stylesheet" href="~/css/book.css">



<div class="" style="min-height:80vh;">

    <div id="carouselControls" class="carousel slide" data-interval="false" data-ride="carousel">
        <div class="carousel-inner d-flex justify-content-center ">
            <div class="carousel-item active">
                @{
                    Books("media/books/Capa-Apostila-Basic-01.jpg");
                }
            </div>
            <div class="carousel-item">
                @{
                    Books("media/books/Capa-Apostila-Basic-02.jpg");
                }
            </div>
            <div class="carousel-item">
                @{
                    Books("media/books/Capa-Apostila-Intermediate.jpg");
                }
            </div>
            <div class="carousel-item">
                @{
                    Books("media/books/Capa-Advanced-01.jpg");
                }
            </div>
            <div class="carousel-item">
                @{
                    Books("media/books/Capa-Advanced-02.jpg");
                }
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <div class="d-flex justify-content-center mb-3 mt-5">
        <but id="buttonClick" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#formPayments"
            aria-expanded="false" aria-controls="collapseExample">
            Comprar
        </but>
    </div>
    <div class="collapse carousel-root p-5" id="formPayments">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Endereço</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Complemento</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Cidade</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Estado</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Livro</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Termos
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
    </div>

</div>


@section Scripts{
<script>
    let clickStatus = true;
    $("#buttonClick").on("click", () => {
        if (clickStatus) {
            let but = $("#buttonClick").html("Cancelar")
            but.removeClass("btn-primary").addClass("btn-danger")

        } else {
            let but = $("#buttonClick").html("Comprar")
            but.removeClass("btn-danger").addClass("btn-primary")
        }
        clickStatus = !clickStatus;

    })
</script>
}
