@{
    ViewData["Title"] = "Index";
}

<h1>Sobre nós</h1>

<style>

    p {
        color: white;
    }

    h1 {
        color: white;
    }

    
</style>
<link rel="stylesheet" href="~/css/about.css">
<div data-aos="fade-left" class="container background1 text-white">
    <div class="row mx-md-n5 ">
        <div class="col-md-5  img-fluid d-flex justify-content-center align-self-center">
            <img class="screen rounded-circle mx-auto d-block" src="media/lais.jpg" alt="screen" style="width: 225px;">
        </div>

        <div id="ref1"  class="col-md-6 col-md-pull-6">
            <h2>Lais Mota</h2>
            <h4 class="sub-title">Founder/Teacher</h4>
            <p>Formada em Gerenciamento de Turismo, fez especialização em comunicação e cultura americana no IFPE- BRASIL. Possui mais de 10 anos de experiencia ensinando inglês como segunda língua, Lais é casada, tem 30 anos e atualmente mora na Florida. Além do inglês Lais também fala Espanhol, e Italiano básico.</p>
            <p>Foi pioneira ensinando as primeiras turmas do projeto Ganhe o Mundo, oferecido pelo Estado de Pernambuco. Atuando assim no processo de aprendizado e intercambio dos alunos.</p>
            <p>Em 2016 mudou-se para New York depois de ter passado 2 anos ensinando inglês executivo em São Paulo.Lais desenvolveu a metodologia da Plan B e escreveu os livros que estão disponíveis no nosso curso, com intuito de ensinar o idioma para todos os brasileiros dentro e fora do Brasil, de uma maneira fácil, rápida e dinâmica.</p>
        </div>
    </div>
</div>

<br>
<br>


<div  data-aos="fade-right" class="container background2 text-white">
    <div class="row mx-md-n5 ">
        <div class="col-md-5  img-fluid d-flex justify-content-center align-self-center">
            <img class="screen rounded-circle mx-auto" src="media/paty.jpg" alt="screen" style="width: 225px; ">
        </div>

        <div id="ref2"   class="col-md-6 col-md-pull-6">
            <h2>Patrícia Pires</h2>
            <h4 class="sub-title">Teacher</h4>
            <p>A teacher Patrícia, de São Paulo, Brasil é formada em pedagogia e especialista em Educação Infantil e Neuro psicopedagogia. Atualmente, Pós- graduanda em Práticas da Educação Bilíngue.</p>
            <p>Trabalha na área da educação há mais de 10 anos e sempre busca melhorar suas práticas.</p>
            <p>Para aprimorar o seu estudo e conhecimentos da Língua Inglesa, realizou um intercâmbio para a Irlanda, algo que contribui muito para o desenvolvimento pessoal e profissional.</p>
        </div>
    </div>
</div>

<br>
<br>

<div data-aos="fade-left"  class="container background3 text-white">
    <div class="row mx-md-n5">
        <div class="col-md-5  img-fluid d-flex justify-content-center align-self-center">
            <img class="screen rounded-circle mx-auto d-block" src="media/20210218_142559.jpg" alt="screen" style="width: 225px;">
        </div>

        <div id="ref3"  class="col-md-6 col-md-pull-6">
            <h2>Natali Mota</h2>
            <h4 class="sub-title">Teacher</h4>
            <p>A Teacher Natali é Graduada em Letras com habilitação em Português/Inglês e experiência pedagógica pela UFRPE.  Atuou em escolas das redes pública e privada de ensino bem como em cursos de idiomas. </p>
            <p>Experiência vasta no ensino de todas as modalidades: presencial e remota; crianças, adolescentes, jovens, adultos e terceira idade, incluindo alfabetização de idosos.</p>
            <p>Há 13 anos atua no mercado de maneira sólida, consistente e sempre desejando contribuir de maneira significativa e eficaz na vida de seus alunos.</p>
        </div>
    </div>
</div>

<br>
<br>


